<!-- Editable table -->
<div class="card">
  <div class="card-body">
    <div id="table" class="table-editable">

      <table class="table table-bordered table-responsive-md table-striped table-sm">
        <tr class="bg-success text-white">
          <th class="text-left">
            <span class="table-add">
              <button class="btn btn-success btn-sm px-3" (click)="add()">
                <i class="fas fa-plus"></i>
              </button>
            </span>
            <span>Name</span>
          </th>
          <th class="text-left">Age</th>
          <th class="text-left">Company Name</th>
          <th class="text-left">Country</th>
          <th class="text-left">City</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index" class="text-right">
          <td class="text-left text-black first-column">
            <button class="btn btn-danger btn-sm px-3" (click)="remove(id)">
              <i class="fas fa-minus"></i>
            </button>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)"
              contenteditable="true">{{person.name}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)"
              (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)"
              (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)"
              (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)"
              (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>